@import url("https://fonts.googleapis.com/css?family=Inika:700");

.fundo{
    --ion-background-color:#323131;
}

.tela-login {

    align-items: center;
    background-color: var(--mine-shaft);
    border: 1px none;
    display: flex;
    flex-direction: column;
    height: 844px;
    padding: 52px 51px;
    width: 390px;
}

.hidden,
.hidden * {

pointer-events: none;
visibility: hidden;
}

.studio-haircut-1-3 {

    height: 128px;
    object-fit: cover;
    width: 128px;

}

.overlap-group {

align-items: flex-start;
align-self: flex-end;
background-color: #d9d9d9;
border-radius: 30px;
display: flex;
flex-direction: column;
margin-top: 88px;
min-height: 327px;
padding: 30px 29px;
width: 282px;
}

.line-4{

height: 2px;
margin-left: 1px;
margin-top: 6px;
width: 216px;

}

.usuario-ou-e-mail{

align-self: flex-end;
letter-spacing: 0;
line-height: normal;
margin-right: 29px;
min-height: 26px;
min-width: 166px;

}

.senha{

align-self: center;
letter-spacing: 0;
line-height: normal;
margin-right: 6px;
margin-top: 48px;
min-height: 26px;
min-width: 58px;
}

.line-5{

height: 2px;
margin-left: 1px;
margin-top: 2px;
width: 216px;
}

.person-2{

height: 21px;
margin-top: 39px;
width: 21px;
}

.flex-row{

    align-items: center;
    display: flex ;
    gap: 171px;
    margin-left: 1px;
    margin-top: 30px;
    min-width: 218px;
}

.lock-closed-1{

height: 20px;
margin-bottom: 1px;
width: 20px;
}

.eye-2{

height: 27px;
width: 27px;
}

.overlap-group1{

    background-color: var(--mine-shaft);
    border: 2px solid;
    border-color: var(--white);
    border-radius: 30px;
    height: 69px;
    margin-left: 5px;
    margin-top: 57px;
    position: relative;
    width: 215px;
}

.title{

color: var(--white);
font-family: var(--font-family-inika);
font-size: var(--font-size-1);
font-weight: 700;
left: 34px;
letter-spacing: 0;
line-height: normal;
position: absolute;
top: 13px;
width: 169px;
}

.rectangle-4{

    background-color: var(--mine-shaft);
    border: 2px solid;
    border-color: var(--white);
    border-radius: 30px;
    height: 60px;
    left: -2px;
    width: 215px;
}

:root {

--black: rgba(0,0,0,1);
--mine-shaft: rgba(49,49,49,1)
--white: rgba(255,255,255,1)

--font-size-m:20px;
--font-size-1:30px;

--font-family-inika:"Inika";
}


.inika-bold-black-20px{

color:var(--black);
font-family: var(--font-family-inika);
font-size: var(--font-size-m);
font-weight: 700;
font-style: normal;
}

