<ion-header>
  <ion-toolbar>
    <ion-title>telaLogin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fundo">

<div class="tela-login screen">
<img class="studio-haircut-1-3" src="assets/imagens/StudioHaircut2.png" alt="Studio Haircut (1) 3"/>
<div class="overlap-group">
<div class="usuario-ou-e-mail inika-bold-black-20px"> Usuário ou E-mail</div>
<img class="person-2" src="assets/imagens/user.png" alt="person 2"/>
<img class="line-4.svg" src="assets/imagens/Line4.png" alt="Line 4"/>

<div class="senha inika-bold-black-20px">Senha</div>
<div class="flex-row">

<img class="lock-closed-1" src="assets/imagens/senha.png" alt="lock-closed-1"/>
<img class="eye-2" src="assets/imagens/olho_aberto.png" alt="eye 2"/>
</div>
<img class="line-5" src="assets/imagens/Line4.png" alt="Line-5"/>
</div>

<div class="rectangle-4"></div>
<h1 class="title">Confirmar</h1>
</div>
</ion-content>
